bin/Debug/net5.0/CodeLearn.deps.json
bin/Debug/net5.0/CodeLearn.dll
bin/Debug/net5.0/CodeLearn.exe
bin/Debug/net5.0/CodeLearn.pdb
bin/Debug/net5.0/CodeLearn.runtimeconfig.dev.json
bin/Debug/net5.0/CodeLearn.runtimeconfig.json
bin/Debug/net5.0/ref/CodeLearn.dll
obj/CodeLearn.csproj.nuget.dgspec.json
obj/CodeLearn.csproj.nuget.g.props
obj/CodeLearn.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/CodeLearn.AssemblyInfo.cs
obj/Debug/net5.0/CodeLearn.AssemblyInfoInputs.cache
obj/Debug/net5.0/CodeLearn.assets.cache
obj/Debug/net5.0/CodeLearn.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/CodeLearn.csproj.FileListAbsolute.txt
obj/Debug/net5.0/CodeLearn.csprojAssemblyReference.cache
obj/Debug/net5.0/CodeLearn.dll
obj/Debug/net5.0/CodeLearn.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/CodeLearn.genruntimeconfig.cache
obj/Debug/net5.0/CodeLearn.pdb
obj/Debug/net5.0/ref/CodeLearn.dll
